body {
    margin: auto 22.5%;
}

#logo {
height: 100px;
position: center;
}

#container {
    text-align: center;
}

h1 {
    font-size:
}

#credits {
    margin-top: 0;
}
 
#author {
    color:#0000ff78;
}

.legenda {
    font-size: 12px;
}

#list {
    margin-left: -25px;
}

.Highlighter {
    background-color: #fbff00;
}

#items {
    padding-bottom: 10px;
}

section {
    background-color: aqua;
}

#last-paragraph {
    padding-top: 20px;
}

#suggests {
    color: grey;
}

#photo-reccomends {
    width: 250px;
    height: 200px;
    background-image: url("../img/monitor.jpg");
    background-repeat: none;
    margin-bottom: 10px;
    color: white;
    
    
}