body {
    margin: auto 20%;
}

#logo {
height: 100px;
position: center;
}

#container {
    text-align: center;
}

h1 {
    font-size:
}

#credits {
    margin-top: 0;
}
 
#author {
    color:#0000ff78;
}