body {
    margin: auto 22.5%;
}

#logo {
    height: 50px;
    line-height: 100px;
    vertical-align: middle; 

}

#container {
    height: 100px;
    background-color: #03a9f4;
    line-height: 100px;
    vertical-align: middle;
    background-image: url('../img/pattern.png');
    background-size: 200px;
    


}

h1 {
    font-size:
}

#credits {
    margin-top: 0;
}
 
#author {
    color:#0000ff78;
}

.legenda {
    font-size: 12px;
}

#list {
margin: 0;
padding: 0;
list-style-position: inside;
}

.Highlighter {
    background-color: #fbff00;
}

#items {
    padding-bottom: 10px;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: rgba(0, 110, 255, 0.418);
    

    color: white;
}

.blue-line {
    background-color: rgb(67, 122, 139);
    height: 50px;
}
#test {
    background-color: white;
}



#last-paragraph {
    padding-top: 20px;
}

#suggests {
    color: grey;
}

#photo-reccomends {
    width: 250px;
    height: 200px;
    background-image: url("../img/monitor.jpg");
    background-repeat: none;
    margin-bottom: 10px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    
    
}
#market {
    width: 250px;
    height: 200px;
    background-image: url("../img/graph.jpg");
    background-repeat: none;
    margin-bottom: 10px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

#third-paragraph {
    width: 50%;
}

